<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link type='text/css' href="/style.css" rel="stylesheet"/>
    <title></title>
  </head>
  <body>
    <h1><img src="<%=topic.img%>" alt=""> <%=topic.name%> </h1>
    <div class='col'>
      <ul> <% resources.forEach(resource => { %>
        <% if (topic.name === resource.topicId) { %>
          <li>
             <a href='<%=resource.url%>'> <%= resource.name %></a>
            <p> <%= resource.description %> </p>
            <a href='/bar/<%=resource._id%>/edit'>edit</a>
          </li>
        <% } %>
      <% }) %>
      </ul>
    </div>
    <a href="/bar/<%=topic._id%>/new">Add Resource!</a>
    <a href='/bar'>home</a>
  </body>
</html>
